%ion-view{"view-title" => "Friends"}
  %ion-content
    %ion-list
      %ion-item.item-avatar{:href => "#/tab/friend/{{friend.id}}", "ng-repeat" => "friend in friends", :type => "item-text-wrap"}
        %img{"ng-src" => "{{friend.face}}"}
        %h2
          {{friend.name}}
